/* Resetando algumas configurações padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuração básica para o body */
body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: #4CAF50;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 1.5rem;
}

form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

input[type="text"] {
    padding: 0.75rem;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    padding: 0.75rem 2rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
    width: 100%;
    max-width: 200px;
    font-weight: center;
    align-items: center;
}

button:hover {
    background-color: #45a049;
}

ul {
    margin-top: 2rem;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul li {
    margin-bottom: 0.5rem;
}

ul li a {
    color: #007bff;
    font-size: 1.1rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

ul li a:hover {
    color: #0056b3;
}

footer {
    margin-top: 2rem;
    font-size: 1rem;
    color: #555;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: solid;
}

.footer-text {
    font-style: italic;
    color: #555;
}
